{# Base tease template #}

{% set t_class = class %}

<article class="tease {{post.post_type}} {{ t_class }}">

    {% block content %}
        {% if post.thumbnail.src %}
            <a href="{{post.link}}" class="tease-thumb">
                <img src="{{ post.thumbnail.src }}" class="tease-thumb" />
            </a>
        {% else %}
            <div></div>
        {% endif %}

            <div class="tease-details" >
            <h2><a href="{{post.link}}">{{post.post_title}}</a></h2>
                {{ post.date }}  {{ post.author }} {#  TODO work out a more flexible approach to presenting the author #}
            <a href="{{ fn('get_post_type_archive_link', post.type.name) }}" class="item-badge post-type">{{ post.type.labels.singular_name }}</a>
        {% if post.preview %}
            <p>{{ post.preview.read_more('').length(100) }}</p>
        {% endif %}
            </div>


    {% endblock %}

</article>