{% extends 'archive.twig' %}

{% block feature %}
    <header class="page-header tall-50" style="background-image:url('{{ context.dir~'/assets/images/worldmap-sat.jpg' }}');">
        {{ '[TP-Partner-Map]'|shortcodes }}
        <div class="page-header-content">
            <h1 class="article-h1">{{ title }}</h1>
        </div>
    </header>
{% endblock %}

{% block article_content_header %}
    <div class="archiveHeader">
        {{ '[TP-Partner-Filters]'|shortcodes }}
    </div>
{% endblock %}

{% block article_content_body %}
    {{ '[TP-Partner-List]'|shortcodes }}
{% endblock %}