{% extends 'archive.twig' %}

{% block feature %}
    {% if use_geo %}
    <header class="page-header tall-50" style="background-image:url('{{ context.dir~'/assets/images/localmap.jpg' }}');">
        {{ '[TP-Inv-Map]'|shortcodes }}
        <div class="page-header-content">
            <h1 class="article-h1">{{ title }}</h1>
        </div>
    </header>
    {% endif %}
{% endblock %}


{% block article_content_header %}
    <div class="page-header-content">
        {% if not use_geo %}
            <h1 class="archive-h1">{{ title }}</h1>
        {% endif %}
        {{ '[TP-Inv-Filters]'|shortcodes }}
    </div>
{% endblock %}

{% block article_content_body %}
    {{ '[TP-Inv-List]'|shortcodes }}
{% endblock %}