{% extends "single.twig" %}

{# the block map is set by the extending templates. #}
{%- set map_rendered -%}
    {%- if use_geo -%}
        {%- block map %}{% endblock -%}
    {%- endif -%}
{%- endset -%}

{% block feature %}
    {% if not post.thumbnail and use_geo %}
        <header class="page-header" style="background-image:url('{{ map_background }}');">
            {{ map_rendered }}
            {% block content_header %}
                {{ include('partials/singleHeader.twig', { includeByline: typeInfo.includeByline }) }}
            {% endblock %}
        </header>
    {% endif %}
{% endblock %}

{% block article_precontent %}
<div>
    {{ object.getActionButtons('single-template') }}
</div>
{% endblock %}

{% block article_postcontent %}
    {% if post.thumbnail and object.hasGeo() %}
        <div style="height: 30vh; position: relative">
        {{ map_rendered }}
        </div>
    {% endif %}
{% endblock %}