{% block html_head_container %}
{% include 'partials/htmlHead.twig' %}
	{% block head %}
	{% endblock %}
{% endblock %}

	<body class="{{ body_class }}" data-template="base.twig">
		{{ function('wp_body_open') }}
		{% block site_banner %}
			<header role="banner" >
				{% include 'site-banner.twig' %}
			</header>
		{% endblock %}

		{# page feature header (image, video, etc).  Not rendered here, but assembled for later render and reference by other blocks. #}
		{% set feature_rendered %}
			{% block feature %}
				{% if post.thumbnail %}
					<header class="page-header" style="background-image:url('{{ post.thumbnail.src('tenth-header') }}');">
						{% block feature_header %}
							{%  include 'partials/singleHeader.twig' with { 'includeByline': includeByline or includeByline is empty } %}
						{% endblock %}
					</header>
				{% endif %}
			{% endblock %}
		{% endset %}
		{% set has_feature = (trim(feature_rendered) != "") %}
		{% set has_breadcrumbs = breadcrumbs() ? true : false %}

		{% block breadcrumbs %}
			{%- with { bc: breadcrumbs(object) } -%}
				{%- if bc -%}
					<nav id="breadcrumbs" class="{{ has_feature ? "with-feature" : "without-feature" }}">
						<a href="{{ site.url }}" class="home" aria-label="home"></a>
						{% for crumb in bc %}
							<span>&rsaquo;</span><a href="{{ site.url }}{{ crumb.url }}">{{ crumb.title }}</a>
						{% endfor %}
					</nav>
				{%- endif -%}
			{%- endwith -%}
		{% endblock %}

		<main id="site-content" role="main" class="{{ main_class }} {{ has_feature ? "with-feature" : "without-feature" }} {{ has_breadcrumbs ? "with-breadcrumbs" : "without-breadcrumbs" }}">
			{{ feature_rendered }}
			{% block corset %}
				<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}" {{ article_attributes }}>
					<section class="article-content">
						{% block article_header %}
							{% if not has_feature %}
								{% block content_header %}
									{% include 'partials/singleHeader.twig' with { 'includeByline': includeByline or includeByline is empty } %}
								{% endblock %}
							{% endif %}
						{% endblock %}
						{% block article_precontent %}{% endblock %}
						{% block article_content %}
							<div class="article-body">
								{% block article_content_body %}
									{% block article_body %}
										{{ post.content }}
									{% endblock %}
								{% endblock %}
							</div>
						{% endblock %}
						{% block article_postcontent %}{% endblock %}
					</section>
					{% block article_footer %}{% endblock %}
				</article>

				{% if post.comment_status == "open" or post.comments.count > 0 %}
					<section class="comments-container">
						<!-- comment box -->
						<h2>Comments</h2>

						<!-- comments -->
						<div class="comments">
							{% if post.comments %}
								{% for cmt in post.comments %}
									{% include "comment.twig" with {comment:cmt} %}
								{% endfor %}
							{% else %}
								<p class="nocomments">No comments yet.</p>
							{% endif %}
						</div>
						{% if post.comment_status == "open" %}
							<!-- comment form -->
							{% include "comment-form.twig" %}
						{% endif %}
					</section>
				{%  endif %}
			{% endblock %}
		</main>

		{% if sidebar %}
			<aside class="layout-sidebar {{ sidebar_class }}">
				{{ sidebar }}
			</aside>
		{% endif %}

		<div id="site-footer">
		{% block page_footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
		{% endblock %}
		</div>
		{{ function('wp_footer') }}
	</body>