{% block html_head_container %}
{% include 'partials/htmlHead.twig' %}
	{% block head %}
	{% endblock %}
{% endblock %}

	<body class="{{ body_class }}" data-template="base.twig">
		{{ function('wp_body_open') }}
		{% block page_header %}
			<header role="banner" >
				{% include 'header.twig' %}
			</header>
		{% endblock %}

		{# page feature header (image, video, etc).  Not rendered here, but assembled for later render and reference by other blocks. #}
		{% set feature_rendered %}
			{% block header %}
				{% if post.thumbnail %}
					<header class="page-header" style="background-image:url('{{ post.thumbnail.src('tenth-header') }}');">
						{%  include 'partials/singleHeader.twig' %}
					</header>
				{% endif %}
			{% endblock %}
		{% endset %}
		{% set has_feature = (trim(feature_rendered) != "") %}
		{% set has_breadcrumbs = breadcrumbs() ? true : false %}

		{% block breadcrumbs %}
			{% with { bc: breadcrumbs() } %}
				{% if bc %}
					<nav id="breadcrumbs" class="{{ has_feature ? "with-feature" : "without-feature" }}">
						<a href="{{ site.url }}" class="home"></a>
						{% for crumb in bc %}
							<span>&rsaquo;</span><a href="{{ site.url }}{{ crumb.url }}">{{ crumb.title }}</a>
						{% endfor %}
					</nav>
				{% endif %}
			{% endwith %}
		{% endblock %}

		<main id="site-content" role="main" class="{{ main_class }} {{ has_feature ? "with-feature" : "without-feature" }} {{ has_breadcrumbs ? "with-breadcrumbs" : "without-breadcrumbs" }}">
			{{ feature_rendered }}
			{% block corset %}
				<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
					<section class="article-content">
						<h1 class="article-h1">{{ _e( 'Not Found', 'TenthTemplate') }}</h1>
						<div class="article-body">
							<p>{{ _e( 'No Content to Display', 'TenthTemplate') }}</p>
						</div>
					</section>
				</article>
			{% endblock %}
		</main>

		{% if sidebar %}
			<aside class="layout-sidebar {{ sidebar_class }}">
				{{ sidebar }}
			</aside>
		{% endif %}

		<div id="site-footer">
		{% block page_footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
		{% endblock %}
		</div>
		{{ function('wp_footer') }}
	</body>