{% block html_head_container %}

{% include 'html-head.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{ body_class }}" data-template="base.twig">
		{{ function('wp_body_open') }}
		{% block page_header %}
			<header role="banner" >
				{% include 'header.twig' %}
			</header>
		{% endblock %}

		<main id="site-content" role="main"{% if main_class %} class="{{ main_class }}"{% endif %}>
			{% block header %}
				{% if post.thumbnail %}
					<header class="page-header" style="background-image:url('{{ post.thumbnail.src }}');">
						<h1>{{ post.title }}</h1>
					</header>
				{% endif %}
			{% endblock %}
			{% block corset %}
				<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
					<section class="article-content">
						<h1 class="article-h1">{{ _e( 'Not Found', 'TenthTemplate') }}</h1>
						<div class="article-body">
							<p>{{ _e( 'No Content to Display', 'TenthTemplate') }}</p>
						</div>
					</section>
				</article>
			{% endblock %}
		</main>

		{% if sidebar %}
			<aside class="layout-sidebar {{ sidebar_class }}">
				{{ sidebar }}
			</aside>
		{% endif %}

		<div id="site-footer">
		{% block page_footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
		{% endblock %}
		</div>
		{{ function('wp_footer') }}
	</body>
</html>
